/* ---------------------------------------------------------------------------------------------------------------------------*/
/* Reglas aplicadas a cualquier ancho de ventana de navegador que INFERIOR el valor definido en la consulta.*/
@media screen and (max-width: 2500px) {

	ul {
		/* para que no aparezca los puntos en la lista */
		list-style: none;
	}
	#wrapper { 
		/* anchura del Menu*/
		width: 16em;
		/* Margen izquierdo */
		margin-left: 2.5em;
		/* Margen arriba */
		margin-top:2em;
		/* Tamaño letra */
		font-size: 0.8125em;
		/*aparezca la mano al pasar el raton */
		cursor: pointer;
	}
	/* para el sombreado de fuera */
	.menu {
		width: auto;
		height: auto;
		-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
		-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	}
	/* pintado de cada etiqueta */
	.menu > li > a {
		background-color: #616975;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
		background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
		background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
		background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
		background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
		background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
		border-bottom: 1px solid #33373d;
		-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
		-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
		box-shadow: inset 0px 1px 0px 0px #878e98;
		width: 100%;
		height: 2.75em;
		line-height: 2.75em;
		text-indent: 2.75em;
		display: block;
		position: relative;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		color: #fff;
		text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	}

	/* Cunado padamos el raton se realza de azul */
	/* Hover and Active Styling */
	.menu > li > a:hover,
	.menu > li > a.active {
		background-color: #35afe3;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
		background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
		background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
		background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
		background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
		background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
		border-bottom: 1px solid #103c56;
		-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
		-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
		box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	}
	.menu > li > a.active {
		border-bottom: 1px solid #1a638f;
	}

	/* Main Menu Icons */
	.menu > li > a:before {
		content: '';
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		font-size: 36px;
		height: 1em;
		width: 1em;
		position: absolute;
		left: 0;
		top: 50%;
		margin: -.5em 0 0 0;
	}
	.item1 > a:before {
		background-position: 0 0;
	}
	.item2 > a:before {
		background-position: -38px 0;
	}
	.item3 > a:before {
		background-position: 0 -38px;
	}
	.item4 > a:before {
		background-position: -38px -38px;
	}
	.item5 > a:before {
		background-position: -76px 0;
	}

	/* Main Menu Numbers 
	.menu > li > a span {
		font-size: 0.857em;
		display: inline-block;
		position: absolute;
		right: 1em;
		top: 50%;
		background: #48515c;
		line-height: 1em;
		height: 1em;
		padding: .4em .6em;
		margin: -.8em 0 0 0;
		color: #fff;
		text-indent: 0;
		text-align: center;
		-webkit-border-radius: .769em;
		-moz-border-radius: .769em;
		border-radius: .769em;
		-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
		-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
		box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
		text-shadow: 0px 1px 0px rgba(0,0,0,.5);
		font-weight: 500;
	}
	.menu > li > a:hover span, .menu > li a.active span {
		background: #2173a1;
	}
	*/

}

/* Reglas aplicadas a cualquier ancho de ventana de navegador que sea INFERIOR al valor definido en la consulta..*/
@media screen and (max-width: 1200px) {
	
	#wrapper { 
		/* anchura del Menu*/
		width: 14em;
		/* Margen izquierdo */
		margin-left: 1.5em;
		/* Margen arriba */
		margin-top:1,5em;
		/* Tamaño letra */
		font-size: 0.75em;
	}
}


/* Reglas aplicadas a cualquier ancho de ventana de navegador que sea INFERIOR al valor definido en la consulta..*/
@media screen and (max-width: 860px) {
	
	#wrapper { 
		/* anchura del Menu*/
		width: 13em;
		/* Margen izquierdo */
		margin-left: 1em;
		/* Margen arriba */
		margin-top:1em;
		/* Tamaño letra */
		font-size: 0.6em;
	}
}
