div#titulo_categoria{
   height: 50px;
   width: 730px;
   background: -webkit-linear-gradient(#FFFFFF, #C4C0C0);
   background: -moz-linear-gradient(#FFFFFF, #C4C0C0);
   background: -o-linear-gradient(#FFFFFF, #C4C0C0);
   padding:10px;
} 
div#titulo_categoria img{
   height: 50px;
   width: 100px;
   float:left;
} 
div#titulo_categoria h2{
	float:left;
	margin-left:10px;
	margin-top:10px;
	font-size:25px;
} 


//------------ contacto ---------------------
p{
	margin-left:20px;	
}
input{
	margin-right:55%;
	float:right;
}
form{
padding:30px;
}
fieldset{
width:650px;
}
//-----------------------------------------------